# ASSIGNMENTS - Compulsory
## Send it before 0000 hrs IST or 12 AM Wednesday

## NOTE: Evaluation will be done before next class.

## HOW TO SUBMIT: -
Download this notebook, Solve it and upload in the google form given in the mail.


1. What is indentation error? Why indentation is important? Give one simple example?

2. Correct the following code and write the comment where you made the correction?

  ```python
  class_started = bool(input("Hey friend, is class started?: [0-False/1-True]"))

  if class_started:
      print("Since class started...")
      print("Lets concentrate")
  else:
      print("Since class is not started...")
      print("let's revise")    
  ```

  **HINT:** Refer your data type conversion class

3. Use if else condition to verify that dataype of `input()` method in python is always string.

4. Take 3 variables and assign integer values to them. Find the largest variable, by only using the if and else conditions.


5. What would be the solution?
    1. True
    2. False

    ```python
    a = 6
    b = 10
    print( not ( not a == 10 or not b == 10) )
    ```
    
6. Find the answer as well as find out the reason behind the result? -
    - case 1:
        ```python
        A = 5.0
        B = 10/2
        print(A is B)
        ```
    - case 2:
        ```python
        A = 5.0
        B = int(10/2)
        print(A is B)
        ```
    - case 3:
        ```python
        A = 5.0
        B = float(10/2)
        print(A is B)
        ```

### Try to understand the following examples and answer the question based on it - 
    
**Arithmatic Operators**

|Operation|Meaning|
|:-:|:-:|
| **+** |addition|
| **-** |subtraction|
| **\*** |multiplication|
| **/** |true division|
| **//** |integer division|
| **%** |the modulo operator|


Here `+`, `-`, `*`, `/` are regular arithmatic operators. Lets look at the `//` and `%` operators

Usecase or examples - 
    
```python
var_a = 5
var_b = 25
integer_division = var_b // var_a
print(f"integer division: {var_b}/{var_a}={integer_division}")
```

OUTPUT: integer division: 25/5=5

```python
var_a = 3
var_b = 25
integer_division = var_b // var_a
print(f"integer division: {var_b}/{var_a}={integer_division}")
```

OUTPUT: integer division: 25/3=8

```python
var_a = 5
var_b = 25
remainder = var_b % var_a
print(f"remainder: {var_b}/{var_a} is {remainder}")
```

OUTPUT: remainder: 25/5 is 0

```python
var_a = 3
var_b = 25
remainder = var_b % var_a
print(f"remainder: {var_b}/{var_a} is {remainder}")
```

OUTPUT: remainder: 25/3 is 1

### Answer below questions on the above theory - 

7. Write a program that asks the user to enter a number. You should print out a message to the user, either “That number is divisible by either 3 or 5”, or “That number is not divisible by either 3 or 5”. Be sure to consider the data type of the input you are taking in from the user. Use a single if/else block to solve this problem.

8. Take user input for length and width. Then calculate the area of rectangle. Also print as per length and width whether its a square of rectangle.

9. Take two variable radius_1 and radius_2 and calculate the area of circle_1 and circle_2. Also print which circle has large area. If area is equal then print area is equal.

10. Check whether a year is leap year or not. Use nested if...else to solve this problem. A leap year is exactly divisible by 4 except for century years (years ending with 00). The century year is a leap year only if it is perfectly divisible by 400.

#Answers

1- While using if else function we use it.
  after using if , before starting next line( print line ) we must give some space other wise it will show indentation errer.
To solve it we need to remember some ponts-
 a- Before print line there should be some space.
 b- Before if and else line there should be same space.

 example-

In [ ]:
Raining=True 

if Raining:
print("lets take umbrella")  #There is no space before print.
else:
    print("We can go outside normally")

IndentationError: ignored

In [ ]:
Raining=True 

if Raining:
  print("lets take umbrella")   # if and else both are not staright in line.||
   else:
    print("We can go outside normally")

IndentationError: ignored

In [ ]:
Raining=True # This is example keeping in mind upper both the errors.

if Raining:
    print("lets take umbrella")
else:
    print("We can go outside normally")

lets take umbrella

#Ans-2

In [73]:
class_started =int(input("Hey friend, is class started?: [0-False or 1-True]"))

if class_started:
   print("Since class started...")
   print("Lets concentrate")
else:
   print("Since class is not started...")
   print("let's revise")

Hey friend, is class started?: [0-False or 1-True]0
Since class is not started...
let's revise

In [85]:
class_started =int(input("Hey friend, is class started?: [0-False / 1-True]"))

if class_started:
   print("Since class started...")
   print("Lets concentrate")
else:
   print("Since class is not started...")
   print("let's revise")

Hey friend, is class started?: [0-False / 1-True]1
Since class started...
Lets concentrate

#3- Use if else condition to verify that dataype of input() method in python is always string.

In [94]:
Raining=(input("Yes / No"))

if Raining==Yes:
  (print("stay at home only"))
  print(type(Raining))
else:
  ("You can go outside")

Yes / NoYes

NameError: ignored

In [90]:
Raining=int(input("1-Yes / 0-No"))

if Raining:
  (print("stay at home only"))
  print(type(Raining))
else:
  ("You can go outside")

1-Yes / 0-No0

In [ ]:
Earn=30000

if Earn>20000:
  print("You are earning good")
  print(type(Earn))
else:
  print("Earn more")

You are earning good
<class 'int'>

In [ ]:
Earn=input("Please enter your earning:{in rupees}")

if int(Earn)>=20000:
  print("You are earning good")
  print(type(Earn))
else:
  print("Earn more")

Please enter your earning:{in rupees}21000
You are earning good
<class 'str'>

In [ ]:
Earn=input("Please enter your earning:{in rupees}")

if int(Earn)>=20000:
  print("You are earning good")
  print(type(Earn))
else:
  print("Earn more")
  print(type(Earn))

Please enter your earning:{in rupees}19000
Earn more
<class 'str'>

In [ ]:
Earn=input("Please enter your earning:{in rupees}")

if Earn>=str(20000):
  print("You are earning good")
  print(type(Earn))
else:
  print("Earn more")
  print(type(Earn))

Please enter your earning:{in rupees}21000
You are earning good
<class 'str'>

In [ ]:
Earn=input("Please enter your earning:{in rupees}")

if Earn>=str(20000):
  print("You are earning good")
  print(type(Earn))
else:
  print("Earn more")
  print(type(Earn))

Please enter your earning:{in rupees}19000
Earn more
<class 'str'>

In [ ]:
A=input("please enter value of A:{ In numbers}")
B=input("Please enter value of B:{ In Numbers }")

if A>B:
  print("A")
  print(type(A))
else:
  print("B")
  print(type(B))

please enter value of A:{ In numbers}12
Please enter value of B:{ In Numbers }15
B
<class 'str'>

In [ ]:
A=input("please enter value of A:{ In numbers}")
B=input("Please enter value of B:{ In Numbers }")

if A>B:
  print("A")
  print(type(A))
else:
  print("B")
  print(type(B))

please enter value of A:{ In numbers}15
Please enter value of B:{ In Numbers }12
A
<class 'str'>

#Que-4 Take 3 variables and assign integer values to them. Find the largest variable, by only using the if and else conditions

In [30]:
a=120
b=130
c=100

if a>b>c:
  print("a")
elif b>c:
  print("b")  
else:   
  print("c")

b

#-5 What would be the solution?

True

False

In [50]:
a = 6
b = 10
print( not ( not a == 10 or not b == 10) )

False

In [62]:
a = 6
b = 10
print( not ( not a == 10 and not b == 10) )

True

#6-Find the answer as well as find out the reason behind the result? -

A-

In this example both A and B are same as per their mathematical solution

In [ ]:
  A = 5.0
  B = 10/2
  print(A is B)

False

In [ ]:
  A = 5.0
  B = 10/2
  print(A == B)

True

In [ ]:
  A = 5.0
  B = int(10/2)
  print(A is B)

False

In [ ]:
A = int(5.0)
B = int(10/2)
print(A is B)

True

In [ ]:
A = 5.0
B = float(10/2)
print(A is B)

False

In [ ]:
A = 5.0
B = float(10/2)
type(A)
type(B)

float

In [ ]:
A = 5.0
B = 10/2
print(A is B)

False

In [ ]:
A = 5.0
B = float(10/2)
print(A == B)

True

#7-Write a program that asks the user to enter a number. You should print out a message to the user, either “That number is divisible by either 3 or 5”, or “That number is not divisible by either 3 or 5”. Be sure to consider the data type of the input you are taking in from the user. Use a single if/else block to solve this problem.

In [45]:
Number=float(input("Please enter a number :{ Number}"))

if ((Number % 3) == 0 or (Number % 5)==0):
  print( "Entered number is divisible by 3 or 5")
else :
  print("Entered number is not divisible by 3 or 5")

Please enter a number :{ Number}16
Entered number is not divisible by 3 or 5

In [47]:
Number=float(input("Please enter a number :{ Number}"))

if ((Number % 3) == 0 or (Number % 5)==0):
  print( "Entered number is divisible by 3 or 5")
else :
  print("Entered number is not divisible by 3 or 5")

Please enter a number :{ Number}15
Entered number is divisible by 3 or 5

In [48]:
Number=float(input("Please enter a number :{ Number}"))

if ((Number % 3) == 0 or (Number % 5)==0):
  print( "Entered number is divisible by 3 or 5")
else :
  print("Entered number is not divisible by 3 or 5")

Please enter a number :{ Number}3
Entered number is divisible by 3 or 5

In [49]:
Number=float(input("Please enter a number :{ Number}"))

if ((Number % 3) == 0 or (Number % 5)==0):
  print( "Entered number is divisible by 3 or 5")
else :
  print("Entered number is not divisible by 3 or 5")

Please enter a number :{ Number}5
Entered number is divisible by 3 or 5

#8-Take user input for length and width. Then calculate the area of rectangle. Also print as per length and width whether its a square of rectangle.

In [ ]:

Length=int(input("Lenght : {Length of rectangle or square}"))
Width=int(input("Width : {Width of rectangle or square}"))

Area=Length*Width
print(Area)
if Length==Width:
  print("It is a square")
else:
  print("It is a rectangle")

Lenght : {Length of rectangle or square}30
Width : {Width of rectangle or square}20
600
It is a rectangle

In [ ]:

Length=int(input("Lenght : {Length of rectangle or square}"))
Width=int(input("Width : {Width of rectangle or square}"))

Area=Length*Width
print(Area)
if Length==Width:
  print("It is a square")
else:
  print("It is a rectangle")

Lenght : {Length of rectangle or square}30
Width : {Width of rectangle or square}30
900
It is a square

#9-Take two variable radius_1 and radius_2 and calculate the area of circle_1 and circle_2. Also print which circle has large area. If area is equal then print area is equal.

In [3]:
R1=float(input("Radius_1 : { Please enter radius of 1st circle}"))
R2=float(input("Radius_2 : { Please enter radius of 2nd circle}"))

Area1=3.14*R1
print(Area1)
Area2=3.14*R2
print(Area2)

if Area1>Area2:
  print("Circle 1 is bigger than circle 2")
elif Area2>Area1 :
  print("Circle 2 is bigger than circle 1")

if Area1==Area2:
  print("Both circle have equal area")

Radius_1 : { Please enter radius of 1st circle}20
Radius_2 : { Please enter radius of 2nd circle}30
62.800000000000004
94.2
Circle 2 is bigger than circle 1

In [4]:
R1=float(input("Radius_1 : { Please enter radius of 1st circle}"))
R2=float(input("Radius_2 : { Please enter radius of 2nd circle}"))

Area1=3.14*R1
print(Area1)
Area2=3.14*R2
print(Area2)

if Area1>Area2:
  print("Circle 1 is bigger than circle 2")
elif Area2>Area1 :
  print("Circle 2 is bigger than circle 1")

if Area1==Area2:
  print("Both circle have equal area")

Radius_1 : { Please enter radius of 1st circle}30
Radius_2 : { Please enter radius of 2nd circle}20
94.2
62.800000000000004
Circle 1 is bigger than circle 2

In [5]:
R1=float(input("Radius_1 : { Please enter radius of 1st circle}"))
R2=float(input("Radius_2 : { Please enter radius of 2nd circle}"))

Area1=3.14*R1
print(Area1)
Area2=3.14*R2
print(Area2)

if Area1>Area2:
  print("Circle 1 is bigger than circle 2")
elif Area2>Area1 :
  print("Circle 2 is bigger than circle 1")

if Area1==Area2:
  print("Both circle have equal area")

Radius_1 : { Please enter radius of 1st circle}30
Radius_2 : { Please enter radius of 2nd circle}30
94.2
94.2
Both circle have equal area

#10-Check whether a year is leap year or not. Use nested if...else to solve this problem. A leap year is exactly divisible by 4 except for century years (years ending with 00). The century year is a leap year only if it is perfectly divisible by 400.

In [24]:
Year = int(input(" Enter the year: " ) )
if ((Year % 4 ) == 0 and (Year % 100 ) != 0 or (Year % 400 ) == 0 ):
  print("This is a Leap Year")
else:
  print("This is not a leap year")

 Enter the year: 2022
This is not a leap year

In [25]:
Year = int(input(" Enter the year: " ) )
if ((Year % 4 ) == 0 and (Year % 100 ) != 0 or (Year % 400 ) == 0 ):
  print("This is a Leap Year")
else:
  print("This is not a leap year")

 Enter the year: 2020
This is a Leap Year

In [26]:
Year = int(input(" Enter the year: " ) )
if ((Year % 4 ) == 0 and (Year % 100 ) != 0 or (Year % 400 ) == 0 ):
  print("This is a Leap Year")
else:
  print("This is not a leap year")

 Enter the year: 3000
This is not a leap year

In [27]:
Year = int(input(" Enter the year: " ) )
if ((Year % 4 ) == 0 and (Year % 100 ) != 0 or (Year % 400 ) == 0 ):
  print("This is a Leap Year")
else:
  print("This is not a leap year")

 Enter the year: 4000
This is a Leap Year